<!-- Footer -->
<footer>
  <div class="max-w-screen-lg px-8 pb-8 mx-auto xlg:px-12">
    <div class="flex flex-col flex-wrap items-center justify-between py-8 mx-auto border-t-4 border-cl__utility_primary md:flex-row">

      <nav class="flex-col flex-grow pb-4 md:pb-0 md:flex md:justify-start md:flex-row">
        {%- include navigation.html -%}
      </nav>

      <!-- Social -->
      <div class="inline-flex items-center justify-center md:justify-start ">
        <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
          <a>
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
        </span>
      </div>
    </div>

    <!-- Legal -->
    <div class="flex items-center justify-center px-5 py-6 mx-auto text-base border-t-4 border-cl__utility_primary flex-wrap md:ml-auto md:mr-auto">
      <div class="flex flex-col mx-auto text-center">
        <p class="text-xs mb-4">
          <a href="/notes/">Notes</a>
          <span class="sep">·</span>
          <a href="/privacy/">Privacy</a>
          <span class="sep">·</span>
          <a href="/cookies/">Cookies</a>
        </p>
        <p class="text-xs mb-0">&copy; mapper.health, 2021. All rights reserved. ✌️</p>
      </div>
    </div>
  </div>
</footer>
