{% if page.url == "/" %}
<!-- Hero Section -->
<section class="bg-indigo-900 text-white">
  <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-24 md:px-8">
    <!-- Hero Tagline -->
    <h1 class="mb-2 text-3xl text-center text-white font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">Find the support you need</h1>
    <p class="mb-2 text-3xl text-center font-light text-indigo-200">Discover local services, build a support plan and self-refer all in one place 🥰</p>
  </div>
</section>

{% elsif page.url == "/crisis/" %}
<!-- Hero Section -->
<section class="bg-gray-900 text-indigo-100">
  <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-24 md:px-8">
    <!-- Hero Tagline -->
    <h1 class="mb-2 text-3xl text-center text-white font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">At risk right now?</h1>
    <p class="mb-2 text-3xl text-center font-light">If you feel like you might attempt suicide, or may have seriously harmed yourself, you need urgent medical help</p>
  </div>
</section>
{% else %}

{% endif %}
