{% if page.url == "/" %}
<!-- Hero Section -->
<section>
  <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-16 md:px-8">
    <!-- Hero Tagline -->
    <h1 class="mb-2 text-3xl text-center font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">Find the support you need</h1>
    <p class="mb-2 text-3xl text-center font-light">Discover local services, build a support plan and self-refer all in one place 🥰</p>
  </div>
</section>
{% endif %}

  {% if page.url == "/crisis/" %}
  <!-- Hero Section -->
  <section>
    <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-16 md:px-8">
      <!-- Hero Tagline -->
      <h1 class="mb-2 text-3xl text-center font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">At risk right now?</h1>
      <p class="mb-2 text-3xl text-center">If you feel like you might attempt suicide, or may have seriously harmed yourself, you need urgent medical help</p>
    </div>
  </section>
  {% endif %}

  {% if page.bodyclass == "places" %}
    <!-- Hero Section -->
    <section>
      <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-16 md:px-8">
        <!-- Hero Tagline -->
        <h1 class="mb-2 text-3xl text-center font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">Where's your area?</h1>
        <p class="mb-2 text-3xl text-center font-light">Discover local services, build a support plan and self-refer all in one place 🥰</p>
      </div>
    </section>
  {% endif %}

  {% if page.bodyclass == "merseyside" %}
    <!-- Hero Section -->
    <section>
      <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-16 md:px-8">
        <!-- Hero Tagline -->
        <h1 class="mb-2 text-3xl text-center font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">Where's your area?</h1>
        <p class="mb-2 text-3xl text-center font-light">Discover local services, build a support plan and self-refer all in one place 🥰</p>
      </div>
    </section>
  {% endif %}

  {% if page.url == "/plan/" %}
  <!-- Hero Section -->
  <section>
    <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 my-10 lg:my-16 md:px-8">
      <!-- Hero Tagline -->
      <h1 class="mb-2 text-3xl text-center font-semibold md:text-5xl lg:text-left lg:text-4xl xl:text-5xl">Personalised Plan</h1> 
      <p class="mb-2 text-3xl text-center font-light">The most difficult step is the first step and putting this plan together was just that. Keep going! 👣</p>
    </div>
  </section>
  {% endif %}