
    <div class="flex items-center justify-center px-5 py-6 mx-auto text-base border-t-2 border-gray-800 flex-wrap md:ml-auto md:mr-auto">
      <div class="flex flex-col md:flex-row md:flex-wrap items-center justify-center mx-auto text-base">
        <p class="md:mr-5 mb-4 md:mb-0 text-sm text-center text-gray-300">Process Reference</p>
        <a class="justify-center mr-5 text-sm font-semibold text-center text-indigo-300 hover:text-white focus:text-white" href="/privacy-cookies/">Self-assessment</a>
        <a class="justify-center mr-5 text-sm font-semibold text-center text-indigo-300 hover:text-white focus:text-white" href="/plan/">Personalised Plan</a>
        <a class="justify-center mr-5 text-sm font-semibold text-center text-indigo-300 hover:text-white focus:text-white" href="/disclaimer/">Referral</a>
      </div>
    </div>

