.post-list { 
  li { 
    border-bottom: 4px dotted var(--cl-utility-primary);

    &:last-child {
      border-bottom: 0;
    }
  }
}

.meta-info {
  color: var(--cl-utility-secondary);

  a {
    color: var(--cl-utility-secondary);

    &:hover, &:focus { 
      color: var(--cl-link-hover);
    }
  }
}