@charset "utf-8";

:root {

  --cl-background: #081727;
  --cl-font: #c3dbff;
  --cl-link: #56c1b8;
    --cl-link-hover:  #7688f5;

  --cl-utility-primary: #102c4a;
  --cl-utility-secondary: #729ee0;

  --cl-first: #8900ff;
    --cl-first-alt: #ABD2FA;
  --cl-second: #C2D8B9;
  --cl-third: #E4F0D0;
  --cl-fourth: #ecc94b;
}

// Import partials.
@import
  "base",
  "layout",
  "fonts",
  "fireworks"
;
