@charset "utf-8";

:root {

  --cl-background: #FFFCF7;
  --cl-font: #43576b;
  --cl-link: #5c6ac4;
    --cl-link-hover: #7688f5;


  --cl-first: #5c6ac4;
    --cl-first-alt: #adb7fc;
  --cl-second: #C2D8B9;
  --cl-third: #E4F0D0;
  --cl-fourth: #ecc94b;
}

// Import partials.
@import
  "base",
  "layout",
  "fireworks"
;
