<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" dir="ltr">

  {%- include head.html -%}

    {%- include masthead.html -%}

    {%- include hero.html -%}                           

    {{ content }}



    <section>
      <div class="flex flex-col mx-auto max-w-screen-md items-center px-4 md:px-8 md:my-11">
        <div class="flex flex-col w-full py-4">

          {%- if site.posts.size > 0 -%}
            <ul class="post-list">
              {%- for post in site.posts -%}
              <li class="py-6">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <h3 class="text-base md:text-lg mb-1">
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
                <span class="text-xs meta-info">
                  {{ post.date | date: date_format }}
                  <span class="sep">·</span>
                  {{ post.readingtime }} min. 
                </span>
              </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      </div>
    </section>

    {%- include footer.html -%}

    {%- include scripts.html -%}

  </body>
</html>
